@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap');



body {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}
.external_wrapper {
    max-width: 450px;
    border: 1px solid;
    border: 1px solid #5b616e33;
    border-radius: 18px;
    width: 100%;
    padding: 40px 26px;
}

.logo_Coi_box {
    /* width: 126px; */
    max-width: 126px;
}
.logo_Coinbase_w h1 {
    font-size: 25px;
    font-weight: 600;
    margin-top: 35px;
}
.external_wrapper .col-md-12 {
    padding: 0px;
}
div#form_login #cointiue_btn{
    width: 100%;
    background: #0052ff;
    border-radius: 45px;
    padding: 16px 0px;
}
div#form_login #Create_acou_btn{
    width: 100%;
    background: #eef0f3;
    border-radius: 45px;
    padding: 16px 0px;
}

div#form_login button .form-check {
    position: relative;
    display: block;
    padding-left:0px!important;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 26px 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #5b616ea8;
    border-radius:8px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #0052ff;
    outline: 0;
    box-shadow: 0 0 0 .2remrgba(0,123,255,.25);
    border: 2px solid #0052ff;
    box-shadow: 0 0 0 0.2rem #007bff00;
}

div#form_login #Create_acou_btn {
    width: 100%;
    background: #eef0f3;
    border-radius: 45px;
    padding: 16px 0px;
    color: #000;
    font-weight: 600;
    border: 1px solid #eef0f3;
}

div#form_login #Create_acou_btn .btn-primary.focus, 
div#form_login #Create_acou_btn .btn-primary:focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 0%)!important;
}
/*30-------------- */

.sign_inbnox{
 text-align: center;
}


.sign_inbnox h6{
    color:#0052ff;
    font-size: 13px;
}
.sign_inbnox p {
    color: #0052ff;
    font-size: 13px;
    margin-bottom: 8px;
    margin-top: 30px;
}
.sign_inbnox h6 a{
    text-decoration: none;
}
.sign_inbnox p a{
    text-decoration: none;
}
.privately p {
    font-size: 13px;
    color: #5b616e;
}
div#important_messa p {
    font-size: 14px;
    margin-bottom: 30px;
}
div#important_messa h5 {
    font-size: 22px;
}
#img_message .btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem #1552f0;
}
div#img_message {
    text-align: center;
}

/*=========== errro css*/

div#img_message span {
    font-size: 13px;
    color: #000px;
    color: #000;
}
div#img_message p {
    margin-top: 13px;
    font-weight: 600;
}
/*30-6-2022*/
div#errorpagenew {
    text-align: center;
}
#errorpagenew .logo_Coi_box {
    /* width: 126px; */
    max-width: 126px;
    margin: auto;
    margin-bottom: 40px;
}
div#important_messa h5 {
   margin-top: 35px;
}

/* ======================= 7-10-2022 */

.row_custom {
    display: flex;
    /* gap: 20px; */
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
}
.col_1 {
    width:40%;
}
.col_2 {
    background: #f4fafd;
    height: 100vh;
    /* display: flex; */
    /* align-items: center; */
    width: 60%;
    text-align: center;
}

.external_wrapper {
    max-width:550px;
    border: 1px solid;
    border: 1px solid #ffffff33;
    border-radius: 18px;
    width: 100%;
    padding: 40px 26px;
    margin: auto;
}
.logo_Coinbase_w{
    margin-bottom:50px;
}
.logo_Coinbase_w h1 {
    font-size: 25px;
    font-weight: 600;
    margin-top: 35px;
    font-size: 24px;
    line-height: 32px;
    color: #46127b;
    font-weight: 700;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 26px 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #5b616ea8;
    border-radius: 3px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
div#form_login #cointiue_btn {
    width: 100%;
    background: #00a5ef;
    border-radius: 3px;
    padding: 16px 11px;
    background-color: rgb(0, 165, 239);
    text-align: inherit;
}

#img_message .btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem #1552f000!important;
}

div#form_login #cointiue_btn {
    border: 1px solid #00a5ef!important;
}

@media (max-width: 767.98px) {
 .external_wrapper {
    max-width: 450px;
    border: 1px solid;
    border: 1px solid #5b616e33;
    border-radius: 18px;
    width: 100%;
    padding: 20px 15px;
    margin-top: 50px;
}

.col_1{
 width:100%;
}
.col_2 {
    display: none;
}
.row_custom {
    display: flex;
    /* gap: 20px; */
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    flex-direction: column;
}


}






